<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - Certification</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo logo2">All</span></li>
            <li><span class="filter" data-filter="catWeb">Datacamp Course Certificate</span></li>
            <li><span class="filter" data-filter="catGraphic">Deep Learning</span></li>			
            <li><span class="filter" data-filter="catMotion">Machine Learning with GCP</span></li>
            <li><span class="filter" data-filter="logo">IBM Data Science</span></li>
			<li><span class="filter" data-filter="logo2">TensorFlow</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="A Data Scientist combines statistical and machine learning techniques with Python programming to analyze and interpret complex data.">
                        <img src="images/portfolio/1.jpg" alt="Visual Infography" href="https://www.datacamp.com/statement-of-accomplishment/track/a0937f80a370b21571a52d2c5ed3ef904d730706"/>
                        <div class="label">
                            <div class="label-text">
                                <a href="https://www.datacamp.com/statement-of-accomplishment/track/a0937f80a370b21571a52d2c5ed3ef904d730706" class="text-title">Data Scientist with Python</a>
                                <span class="text-category">Datacamp Course Certificate</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/2.jpg" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">deepLearning.ai</a>
                                <span class="text-category">Coursera - Deep Learning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/3.jpg" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Google</a>
                                <span class="text-category">Coursera - Machine Learning with Google Cloud Platform</span>							
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/4.jpg" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">IBM</a>
                                <span class="text-category">Coursera - IBM Data Science</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo2" data-cat="logo2">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/5.jpg" title="Discover the tools software developers use to build scalable AI-powered algorithms in TensorFlow, a popular open-source machine learning framework. In this four-course Specialization, I explored exciting opportunities for AI applications. Begin by developing an understanding of how to build and train neural networks. Improve a network’s performance using convolutions as you train it to identify real-world images. I understood how machines, analyze, and respond to human speech with natural language processing systems. Learn to process text, represent sentences as vectors, and input data to a neural network. I can even train an AI to create original poetry! AI is already transforming industries across the world. After finishing this Specialization, I am able to apply your new TensorFlow skills to a wide range of problems and projects." rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">deepLearning.ai</a>
                                <span class="text-category">Coursera - TensorFlow</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->



            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
