<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">zubair ashfaque</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Zubair Ashfaque</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">November 25, 1986</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Lahore, Pakistan</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">mianashfaque@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+92 (301) 8480-350</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">https://zubairashfaque.github.io/</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            System Analyst with 9+ years of experience in several industries. My journey begins working with internet networks later it leaded me to machine learning neural networks. The motivating behind learning Data Science was that I wanted to apply the entire math that I had studies at university like linear algebra, probability and calculus. I was also fascinated with data science we can use it to extract some useful information from given data to solve many problems. Emerging artificial intelligence applications fuels my passion for machine learning which further lead me to do certifications in it.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Looking to leverage my experience and knowledge as Data scientist or Machine learning engineer at your company.

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.jpg" alt="" />
            <img src="images/img-profile/about_3.jpg" alt="" />
            <img src="images/img-profile/about_4.jpg" alt="" />
            <img src="images/img-profile/about_5.jpg" alt="" />
            <img src="images/img-profile/about_6.jpg" alt="" />
            <img src="images/img-profile/about_8.jpg" alt="" />			
            <img src="images/img-profile/about_101.jpg" alt="" />
            <img src="images/img-profile/about_19.jpg" alt="" />
            <img src="images/img-profile/about_20.png" alt="" />	
            <img src="images/img-profile/about_21.png" alt="" />			
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>PTCL</h6>
                    <p>Broadband supervisor - Level 2 technical support </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>WATEEN</h6>
                    <p>Executive Engineer - Operations in Complaint Management System </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>JAZZ</h6>
                    <p>System Analyst - Ravenue Assurance and Fraud Management & EAI Specialist - Design, code, document, test and deploy new applications</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My Services in Detail</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            PTCL
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Previously, I also worked as a broadband supervisor for PTCL (Pakistan Telecommunication Company Limited) for the past two and a half years; my main responsibility was to provide Level 2 technical support by interacting with customers. This included providing support in fixing the internet connection problems to the subscriber, or also help with the customer’s WiFi network, helping with IP TV for streaming video, and all those devices that are part of the internet world; broadband IP TV boxes, routers, and gaming systems that connect to the internet and internet phones.  This role helped me to develop a comprehensive understanding of the Internet connectivity from end-user to tier-3, broadband technologies, diagnostic skills, and communication skills.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            WATEEN
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  At WATEEN, I supported 4 independent teams in planning, developing, implementing complete operations of Complaint Management System (CMS). My main task was to facilitate effective and timely completion of planned activities for the WATEEN network covering 200 cities in Pakistan.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            JAZZ
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  For seven plus years, I am working in JAZZ a mobile network operator, with growth-oriented multiple roles in technology division.  I worked as Enterprise Application Integration (EAI) Specialist, my core responsibilities was design, code, document, test and deploy new applications. As in another role of System Analyst in the revenue assurance department, I balanced a swath of competing priorities, ranging from daily operations tasks and automation of alerts to fixing problems, incorporation new business controls, and developing new APIs. This role helped me to develop wide-range understanding of telco fraud and revenue controls, improving my programming skills, planning skills, and debugging skills. It also gave me chance to work on new technologies like HADOOP. 
Like many others, my career path hasn’t been entirely straightforward. While working in JAZZ, I enrolled in multiple Data Science related training programs. Few months later, I emerged with certificates in Data Scientist and Machine Learning. I’m now an aspiring Data Scientist or Machine Learning engineer with experience and extensive knowledge of respective roles.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
